@page "/"

<PageTitle>Main page</PageTitle>

<h1 style="color: rgb(51,51,51);">Hello!</h1>

<p style="color: rgb(51,51,51);">Here some main page stuff</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-5 g-4">

    <div class="col">
        <div class="card h-100">
            <img src="img/logoleft.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Test card</h5>
                <p class="card-text">Industrial automation</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="img/logoleft.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Test card1</h5>
                <p class="card-text">Robotics</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="img/logoleft.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Test card2</h5>
                <p class="card-text">IoT</p>
            </div>
        </div>
    </div>


</div>